! Font rendering
Xft.dpi: 192
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Wal materialer colors
*foreground:        #EEFFFF
*background:        #212121
*.foreground:       #EEFFFF
*.background:       #212121
URxvt*foreground:   #EEFFFF
URxvt*background:   [80]#171814
URxvt*cursorColor:  #EEFFFF
URxvt*borderColor:  [80]#212121
*.color0: #212121
*color0:  #212121
*.color1: #F07178
*color1:  #F07178
*.color2: #C3E88D
*color2:  #C3E88D
*.color3: #FFCB6B
*color3:  #FFCB6B
*.color4: #82AAFF
*color4:  #82AAFF
*.color5: #C792EA
*color5:  #C792EA
*.color6: #89DDFF
*color6:  #89DDFF
*.color7: #EEFFFF
*color7:  #EEFFFF
*.color8: #5F5F5F
*color8:  #5F5F5F
*.color9: #F07178
*color9:  #F07178
*.color10: #C3E88D
*color10:  #C3E88D
*.color11: #FFCB6B
*color11:  #FFCB6B
*.color12: #82AAFF
*color12:  #82AAFF
*.color13: #C792EA
*color13:  #C792EA
*.color14: #89DDFF
*color14:  #89DDFF
*.color15: #FFFFFF
*color15:  #FFFFFF
*.color66: #212121
*color66:  #212121

! rxvt-unicode
URxvt.geometry: 59x210
URxvt.intensityStyles: false
URxvt.depth: 32
URxvt.font: xft:DejaVu Sans Mono:size=11
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.saveLines: 100000
URxvt.cursorColor: white
URxvt.perl-ext-common: default,matcher,resize-font,keyboard-select
URxvt.perl-lib: $HOME/.config/Scripts
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.colorUL: #4682B4
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
URxvt.iso14755: false
URxvt.iso14755_52: false
